.btnWrapper {
  font-size: 16px;
  padding: 10px;
  background-color: lightblue;
  margin: 5px;
  width: 100px;
}

.counter {
  padding: 10px;
  margin-top: 100px;
}

.count {
  font-size: 50px;
}
